.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search {
  height: 25px;
  margin-bottom: 30px;
  padding: 15px;
  font-size: 24px;
}
.movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.movie-wrapper {
  width: 18vw;
  background-color: antiquewhite;
  color: black;
}

.movie-img {
  width: 100%;
}

.movie-title {
  font-weight: bold;
  height: 10vh;
  margin-top: 1vh;
}

.movie-date {
  font-style: italic;
  margin-top: 1vh;
}

.movie-rate {
  color: blue;
  margin-bottom: 24px;
  font-weight: bold;
  text-decoration: underline;
  font-size: 0.8em;
}
